<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
<head th:replace="common/head">

</head>

<body id="page-top">

 	<nav th:replace="common/newsnav"></nav>
<hr>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3" id="bigtitle"></h1>
       <img class="img-fluid" src="img/portfolio/bigdataa.jpg" alt="">
      <p class="lead" id="bigimage"></p>
      <a href="/mypage" class="btn btn-primary btn-lg">My Scrap Book!</a>
    </header>
    
        <div class="row text-center" id="newslist">

      </div>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
      $.ajax({
         url : '/conferencelist',
         type : 'get',
         data : {'sentence' : $('3sentence').val()},
         success : function(res) {
//         	 for(var i = 0; i < res.length; i++) {
        	 for(var i in res) {
        		 var obj = res[i];
	        	 var img = obj.img;
	        	 var title = obj.title;
	        	 var link = obj.link;
	        	 var date = obj.date;
	        	 var place = obj.place;
	        	 
	        	$("#newslist").append('<div class="col-lg-3 col-md-6 mb-4 my-5"><div class="card h-100"><img class="img-fluid" src="' + img + '" alt=""><div class="card-body"><h4 class="card-title"><a href="' + link + '">' + title + '</a></h4><p class="card-text">'+ date + '</p><p class="card-text">'+ place + '</p></div></div><div class="card-footer"><a href="scrap" class="btn btn-primary">SCRAP!</a></div></div>') 
        	 }
        	
         }
         
         
         
      })


</script>

  <footer th:replace="common/footer"></footer>
  
</body>

</html>